<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/webflow-config
                           http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.3.xsd">



	<!-- bean -->

	<bean name="employee1" class="com.springcore.collections.Emp">

		<property name="name" value="Ram"></property>

		<property name="phones">


			<list>

				<value> 123344</value>
				<value> 767676</value>
				<value> 8892345</value>

			</list>
		</property>


		<property name="addresses">
		
		<set>
		
		<value> Phoenix</value>
		
		<value> Peoria</value>
		
		<value> flagstaff</value>
		
		
		
		
		
		</set>
		
		
		</property>
		
		
		<property name="courses">
		
		
		<map>
		
		<entry  key="java" value="1 month" />
		<entry  key="c#" value="2 month" />
		<entry  key="Javascript" value="3 month" />
		
		
		</map>
		</property>
		
		
	

	</bean>
</beans>
                           
                           
                           